$fontFamily: "Lato", sans-serif;
$fontSize: 16;
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1080;
$md1: $maxWidthContainer + 12;
$md2: 992.01;
$md3: 768.01;
$md4: 478.01;
$md5: 375.01;
$mainColor: #11141B;
$mainBlue: #0777BF;
$secondaryBlue: #035292;
$mainOrange: #FFA726;
$secondaryOrange: #FCB931;
$lightOrange: #FFF9ED;

html {
  scroll-behavior: smooth;
}

@import "fonts";
@import "mixins";
@import "null";
body {
  color: $mainColor;

  &._lock {

  }

}


.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #FFECA5;

  &._loaded {
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1 + px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 15px;
  }

}

.page {
  flex: 1 1 auto;
}

.hero {
  position: relative;

  @media (max-width: $md1 + px) {
    padding: 110px 0 0;
  }
  @media (max-width: $md3 + px) {
    padding: 35px 0 0;
  }

  .sun {
    z-index: 1;
    position: absolute;
    bottom: -25%;
    right: 65%;
    max-width: 700px;
    width: 44.2vw;
    height: auto;
    transform: rotate(37.15deg);
    @media (max-width: $md1 + px) {
      top: -25%;
    }
    @media (max-width: $md3 + px) {
      width: 84vw;
      left: -32.5vw;
      top: -35.9vw;
    }
  }

  .cloud {
    position: absolute;
    z-index: 3;
    left: 78.8%;
    top: 52%;
    height: auto;
    width: 28.6vw;
    max-width: 453px;
    min-width: 165px;
    @media (max-width: $maxWidthContainer + px) {
      top: 80%;
    }
    @media (max-width: $md3 + px) {
      top: 77%;
      left: 73%;
      max-width: 255px;
      width: 44vw;
    }
    @media (max-width: $md4 + px) {
      max-width: 165px;
    }

    path {
      fill: #FFF7D1;
    }

    &-big {

      position: absolute;
      width: 41vw;
      height: auto;
      max-width: 649px;
      min-width: 151px;
      top: 25%;
      right: 78.6%;
      z-index: 3;
      filter: drop-shadow(0 19px 40px rgba(48, 39, 29, 0.27));
      @media (max-width: $maxWidthContainer + px) {
        top: 63%;
      }
      @media (max-width: $md2 + px) {
        top: 175%;
      }
      @media (max-width: $md3 + px) {
        top: 195%;
        right: 70%;
      }
      @media (max-width: $md5 + px) {
        top: 210%;
      }

      path {
        fill: #FFF7D1;
      }
    }
  }

  .bg-hero {
    z-index: 2;
    position: absolute;
    width: 100%;
    min-width: 1700px;
    height: auto;
    //max-height: 940px;
    //max-height: 1200px;
    transform: translateY(210px);
    @media (max-width: $md1 + px) {
      min-width: 2000px;
    }
    @media (max-width: $md3 + px) {
      display: none;
    }
  }


  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 5;
    position: relative;
  }

  &__title {
    font-weight: 800;
    font-size: 42px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 15px;
    @media (max-width: $md3 + px) {
      font-size: 28px;
      max-width: 500px;
    }

  }

  &__text {
    font-size: 1.625em;
    line-height: 1.5;
    color: #fff;
    max-width: 780px;
    @media (max-width: $md3 + px) {
      @include adaptiv-value(font-size, 24, 18, 1);
    }
  }
}

.ema-block {
  max-width: 600px;
  font-weight: 900;
  font-size: 52px;
  line-height: 120%;
  padding: 20px 0;
  @media (max-width: $md3 + px) {
    max-width: 400px;
  }
  @include adaptiv-value(font-size, 52, 28, 1);

  h3 {
    padding-bottom: 15px;
    @media (max-width: $md3 + px) {
      padding-bottom: 25px;
    }
  }

  .bic {
    max-width: 288px;
    width: 100%;
    height: auto;
    @media (max-width: $md3 + px) {
      width: 130px;
      padding-bottom: 25px;
    }
  }

  .ema {
    max-width: 80px;
    width: 100%;
    height: auto;
    @media (max-width: $md3 + px) {
      width: 60px;
    }
  }
}

.bic-block {
  position: relative;
  z-index: 1;
  margin-top: 5.5vw;
  background: #F79B0D url("../img/noise-bg.png") 0 0/cover no-repeat;

  .top {
    width: 100%;
    height: auto;
    position: relative;
    top: -5.3vw;
    left: 0;
    z-index: 0;
  }

  .bottom {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    bottom: -1px;
    z-index: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100%;
    margin: -50px 0;

    & > svg {
      width: 50px;
      height: auto;
      position: absolute;
      top: 115%;
      animation: down1 3s ease-in-out infinite;
      @media (max-width: $md2 + px) {
        top: 95%;
      }
      @media (max-width: $md3 + px) {
        top: 95%;
        width: 35px;
      }
      @media (max-width: $md4 + px) {
        width: 28px;
        top: 90%;
      }
    }

    @media (max-width: $md2 + px) {
      padding: 60px 0;
    }
  }

}

.challenge-block {
  padding: 0 0 18vh;
  margin: -80px 0 -34vh;
  position: relative;
  z-index: 4;
  @media (max-width: $md2 + px) {
    margin: -10px 0 -17vh;
    padding: 0 0 0;
  }
  @media (max-width: $md4 + px) {
    margin: -10px 0 -10vh;
  }

  .bottom {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 0;
    @media (max-width: 1400 + px) {
      bottom: 10vh;
    }
    @media (max-width: $md2 + px) {
      bottom: 15px
    }
    @media (max-width: $md4 + px) {
      display: none;
    }
  }

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0;
  }

  .arrow-challenge {
    position: absolute;
    left: calc(50% - 82.5px);
    top: calc(32% - 281px);
    pointer-events: none;
    z-index: 3;
    @media (max-width: $md3 + px) {
      height: 427px;
      width: 36vw;
      left: calc(50% - 18vw);
      top: calc(32% - 213.5px);
    }
    @media (max-width: $md4 + px) {
      transform: scaleX(-1);
      top: calc(35% - 213.5px);
    }
  }

  .pen {
    margin: 0 0 80px;
    filter: drop-shadow(0px 4px 14px rgba(98, 95, 90, 0.59));
    max-width: 100%;
    height: auto;
    z-index: 4;
    @media (max-width: $md4 + px) {
      margin: 5px 0 40px;
    }
  }

  .product-title-block {
    width: 100%;
    max-width: 900px;
    height: 102px;
    background-color: $secondaryOrange;
    border-radius: 70px;
    padding: 14px 24px;
    position: relative;
    z-index: 3;
    @media (max-width: $md3 + px) {
      padding: 14px;
    }
    @media (max-width: $md4 + px) {
      padding: 10px;
      height: 77px;
    }


    div {
      background-color: #F7961E;
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 8px rgba(91, 83, 73, 0.7);
      border-radius: 73px;
      padding: 14px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;


      p {
        color: #fff;
        font-weight: bold;
        font-size: 34px;
        line-height: 134%;
        text-transform: uppercase;
        @include adaptiv-value(font-size, 34, 18, 1);

        span {
          font-size: 1.44rem;
          letter-spacing: 0.02em;
          @media (max-width: $md3 + px) {
            font-size: 1em;
          }
        }
      }
    }
  }

  .score-before {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px 60px 0;
    @media (max-width: $md1 + px) {
      padding: 100px 0 0;
      justify-content: space-around;
    }
    @media (max-width: $md4 + px) {
      padding: 55px 0;
      justify-content: space-between;
    }

    .societal, .environmental {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 4;
      @media (max-width: $md4 + px) {
        max-width: 50%;
      }

      img {
        filter: drop-shadow(0px 5px 15px rgba(106, 104, 75, 0.31));
        max-width: 80px;
        height: auto;
        @media (max-width: $md1 + px) {
          max-width: 48px;
          height: auto;
        }
        @media (max-width: $md4 + px) {
          max-width: 40px;
        }

        &:not(:last-child) {
          margin-right: 9px;
          @media (max-width: $md4 + px) {
            margin-right: 0;
          }
        }

      }

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 420px;
        padding-bottom: 15px;
        text-align: center;
        @media (max-width: $md1 + px) {
          &:not(.environmental__title) {
            max-width: 130px;
          }
          max-width: 210px;
          svg {
            display: none;
          }
        }

        p {
          font-size: 26px;
          line-height: 150%;
          text-transform: uppercase;
          @media (max-width: $md3 + px) {
            font-size: 24px;
          }
          @media (max-width: $md4 + px) {
            font-size: 18px;
          }
        }

        svg {
          position: absolute;

          right: -50px;

          &:first-child {
            left: -50px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;

    .challenge-rules {
      background: #FFF7D1;
      box-shadow: 0 19px 40px rgba(48, 39, 29, 0.27);
      border-radius: 126.5px;
      padding: 75px 70px 60px;
      width: 100%;
      max-width: 820px;
      font-family: 'Calliope-MVB', sans-serif;
      color: #FF7E1D;
      letter-spacing: 0.02em;
      font-size: 34px;
      line-height: 130%;
      text-align: center;
      z-index: 1;
      margin-top: -60px;
      @media (max-width: $md3 + px) {
        font-size: 24px;
        max-width: 650px;
        margin: -60px -30px 0;
        width: 130%;
      }
      @media (max-width: $md4 + px) {
        font-size: 18px;
        max-width: 450px;
        padding: 75px 60px 40px;
        text-align: center;
      }
    }

    & > img {
      position: absolute;
      bottom: -90px;
      animation: down 4s ease-in-out infinite;
    }
  }

}

.challenge-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 2;
  max-width: 100%;

  img {
    position: relative;
    width: 522px;
    height: auto;
    max-width: 100%;
    filter: drop-shadow(0px 2px 6px rgba(48, 39, 29, 0.19));
  }

  .underline {
    position: absolute;
    z-index: 3;
    bottom: 60px;
    stroke-dashoffset: 10000;
    @media (max-width: $md4 + px) {
      max-width: 200px;
      height: auto;
      bottom: 20%;
    }

    &.fade {
      stroke-dasharray: 450;
      stroke-dashoffset: 450;
      animation: draw 1s linear forwards 0.5s;
    }
  }

  span {
    position: absolute;
    transform: translateY(20px);
    -webkit-text-stroke: 2px #333;
    font-weight: 900;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: rgba(51, 51, 51, 0);
    text-transform: uppercase;
    z-index: 3;
    @include adaptiv-value(font-size, 42, 24, 1);

    &:last-of-type {
      -webkit-text-stroke: 0 #333;
      color: #F79B0D;
      font-weight: 800;
      transform: translate(3px, 21px);
      z-index: 2;
    }
  }

}

#first-q {
  position: relative;
  margin: 0 0;
  padding: 250px 0 0;
  z-index: 2;
  background: #F79B0D;
  @media (max-width: $md4 + px) {
    padding: 200px 0 0;
  }

  .title-thiny {
    path {
      //first
      &:nth-child(2) {
        animation: animate-svg-fill-2 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both;
      }

      //second
      &:nth-child(3) {
        animation: animate-svg-fill-2 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.1s both;
      }

      //third
      &:nth-child(5) {
        animation: animate-svg-fill-2 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s both;
      }

      //fourth
      &:nth-child(4) {
        animation: animate-svg-fill-2 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s both;
      }

      //fifth
      &:nth-child(1) {
        animation: animate-svg-fill-2 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.4s both;
      }
    }
  }

  .bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 15%;
    pointer-events: none;
    z-index: 1;
    @media (max-width: $md2 + px) {
      display: none;
    }
  }

  .bottom {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    @media (max-width: $md2 + px) {
      bottom: -1px;
    }
  }

  .answer-title {
    svg {
      path {
        fill: #FFE0B2;
      }
    }
  }

  .questions__block {
    padding: 0 0 50px;
  }

  .questions__item {
    & > .arrow-down {
      width: 0;
      height: 0;
      position: absolute;
      top: 100%;
      left: -25px;
      z-index: 4;
      animation: down 2s ease-in infinite;
      @media (max-width: $md1 + px) {
        bottom: -180px;
      }
      @media (max-width: $md3 + px) {
        display: none;
      }
    }

    &.true {
      &:before {
        background: linear-gradient(180deg, #FFA924 9.4%, rgba(247, 155, 13, 0) 90.07%);
      }

      & > .question__answer {
        @media (max-width: $md3 + px) {
          padding-top: 30px;
        }
      }

      & > .arrow-down {
        height: 250px;
        width: auto;
        @media (max-width: $md1 + px) {
          height: 190px;
        }
      }
    }

    &.false {
      &:before {
        background: linear-gradient(154.21deg, #F19505 18.51%, rgba(247, 155, 13, 0) 92.23%);
      }

      & > .question {
        z-index: 1;

        &:after {
          background: #F19405;
          @media (max-width: $md3 + px) {
            background: #F79B0D;
          }
        }

        &:before {
          background: #FFA61C;
          @media (max-width: $md3 + px) {
            background: #F19405;
          }
        }

        & > .arrow-mob {
          @media (min-width: $md3 + px) {
            display: none;
          }
          width: 268px;
          height: 219px;
          left: -120px;
          top: 80px;
          opacity: 1;
          z-index: 0;
        }

        & > .arrow {
          width: 651px;
          height: auto;
          top: 40px;
          left: -100px;
          opacity: 1;
          @media (max-width: $md1 + px) {
            width: 591px;
            height: auto;
            top: 50px;
            left: -210px;
            z-index: 0;
          }
        }
      }

      & > .question__answer {
        padding-top: 30px;
      }
    }
  }
}

#second-q {
  position: relative;
  background: #5FB4F7;
  padding: 50px 0 150px;
  z-index: 2;

  .title-thiny {
    path {
      //first
      &:nth-child(2) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both;
      }

      //second
      &:nth-child(3) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.1s both;
      }

      //third
      &:nth-child(5) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s both;
      }

      //fourth
      &:nth-child(4) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s both;
      }

      //fifth
      &:nth-child(1) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.4s both;
      }
    }
  }

  @media (max-width: $md3 + px) {
    padding: 0;
  }

  .clouds {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -15vw;
  }

  .questions__container {
    padding-top: 20px;
    align-items: flex-start;
  }

  .questions__title {
    margin: 20px 0 50px;
  }

  .questions__item {
    & > .question__answer {
      padding-top: 30px;
      max-width: 410px;
    }

    &.true {
      &:before {
        background: linear-gradient(180deg, #84C9F8 -8.05%, rgb(95 180 247 / 0%) 70%);
      }
    }

    &.false {
      & > .question {
        z-index: 1;

        &:after {
          background: #52B0FA;
          @media (max-width: $md3 + px) {
            background-color: #5FB4F7;
          }
        }

        &:before {
          background-color: #7BC4F8;
          @media (max-width: $md3 + px) {
            background: #0777BF;
          }
        }

        & > .arrow-mob {
          @media (min-width: $md3 + px) {
            display: none;
          }
          width: auto;
          height: auto;
          left: 130px;
          top: 40px;
          opacity: 1;

          path {
            stroke: #ADE5FF;
          }
        }

        & > .arrow {
          width: 751px;
          height: auto;
          top: 20px;
          left: -210px;
          opacity: 1;

          path {
            stroke: #ADE5FF;
          }

          @media (max-width: $md1 + px) {
            width: 591px;
            height: auto;
            top: 50px;
            left: -190px;
          }
        }
      }

      &:before {
        background: linear-gradient(180.21deg, #4EAFFB 6.1%, rgba(95, 180, 247, 0) 98.89%);
      }
    }
  }

  .answer-title {
    margin: 20px 0 10px;

    & svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

#third-q {
  background-color: #FFF7D1;
  //position: relative;
  z-index: 2;

  .title-thiny {
    path {
      //first
      &:nth-child(2) {
        animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both;
      }

      //second
      &:nth-child(3) {
        animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.1s both;
      }

      //third
      &:nth-child(5) {
        animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s both;
      }

      //fourth
      &:nth-child(4) {
        animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s both;
      }

      //fifth
      &:nth-child(1) {
        animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.4s both;
      }
    }
  }

  .questions__block {
    min-height: 780px;
    @media (max-width: $md3 + px) {
      min-height: 650px;
    }
  }

  .questions__item {
    &[data-question='true'] {
      @media (max-width: $md3 + px) {
        order: 2;
      }
    }

    &.false {
      &:before {
        background: linear-gradient(180.08deg, #FFDF8D -33.6%, rgba(247, 219, 146, 0) 80%);
      }

      & > .question {
        z-index: 1;

        &:after {
          background: #F8D681;
        }

        &:before {
          background: #FFFEF7;
        }

        & > .arrow-mob {
          width: auto;
          height: auto;
          left: -140px;
          top: 60px;
          opacity: 1;
          @media (min-width: $md3 + px) {
            display: none;
          }
        }

        & > .arrow {
          width: 641px;
          height: auto;
          top: 60px;
          left: -220px;
          opacity: 1;
          @media (max-width: $md1 + px) {
            width: 430px;
            top: 80px;
            left: -80px;
          }
        }
      }

      & > .question__answer {
        padding-top: 25px;
      }
    }

    &.true {
      &:before {
        background: linear-gradient(195.71deg, #FFFEF9 11.87%, rgba(255, 245, 205, 0) 90%);
      }
    }
  }

  .answer-title {
    margin: 30px 0 10px;

    & svg {
      path {
        fill: #0777BF;
      }
    }
  }

}

#fourth-q {
  background: url("../img/bg-fourth-q-bg.png") 0 0/cover no-repeat;
  position: relative;
  padding: 50px 0 0;
  z-index: 2;

  .title-thiny {
    path {
      //first
      &:nth-child(2) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both;
      }

      //second
      &:nth-child(3) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.1s both;
      }

      //third
      &:nth-child(5) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s both;
      }

      //fourth
      &:nth-child(4) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s both;
      }

      //fifth
      &:nth-child(1) {
        animation: animate-svg-fill-3 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.4s both;
      }
    }
  }

  .top {
    position: absolute;
    width: 100%;
    height: auto;
    top: -3vw;
    left: 0;
    z-index: 0;
  }

  .bottom {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -5vw;
    left: 0;
    z-index: 1;
  }

  .questions__block {
    min-height: 750px;
    @media (max-width: $md3 + px) {
      min-height: 650px;
      padding: 50px 0 160px;
    }
  }

  .questions__item {
    &[data-question='true'] {
      @media (max-width: $md3 + px) {
        order: 2;
      }
    }

    &.true {
      @media (min-width: $md1 + px) {
        z-index: 0;
      }

      &:before {
        background: linear-gradient(180deg, #FFCA60 7.5%, rgba(252, 166, 32, 0) 90%);
      }
    }

    &.false {
      z-index: 1;

      &:before {
        background: linear-gradient(180deg, #FF9E06 27.76%, rgba(252, 185, 49, 0) 100%);
      }

      & > .question__answer {
        padding-top: 20px;
        max-width: 280px;
      }

      & > .question {

        &:after {
          background: #FFA20D;
          @media (max-width: $md3 + px) {
            background: #FCAE23;
          }
        }

        &:before {
          background: #FEC454;
        }

        & > .arrow {
          width: 653px;
          height: auto;
          top: 50px;
          left: -250px;
          opacity: 1;
          z-index: -1;
          @media (max-width: $md1 + px) {
            width: 561px;
            height: auto;
            top: 40px;
            left: -80px;
          }

          path {
            stroke-dasharray: 1500;
            stroke: #FFD889;
          }
        }

        & > .arrow-mob {
          @media (min-width: $md3 + px) {
            display: none;
          }
          width: auto;
          height: auto;
          left: 130px;
          top: 50px;
          opacity: 1;
        }
      }
    }

    .answer-title {
      & svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

#final-q {
  display: flex;
}

.questions {

  &__block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 650px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 4;
    @media (max-width: $md3 + px) {
      min-height: 650px;
      padding: 50px 0 90px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @media (max-width: $md3 + px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 800;
    color: $mainColor;
    position: relative;
    z-index: 3;
    margin: 50px 0;
    text-align: center;
    @media (max-width: $md2 + px) {
      margin: 50px 0 80px;
    }
    @media (max-width: $md3 + px) {
      font-size: 36px;
      margin: 20px 0 40px;
    }
    @media (max-width: $md4 + px) {
      font-size: 28px;
    }

    svg.line-1 {
      z-index: 2;
      @media (max-width: $md4 + px) {
        margin: 10px 0 0;
        max-width: 130px;
        height: auto;
      }

      path {
        fill: #D98607;
      }
    }

    svg.line-2 {
      position: absolute;
      width: 238.5px;
      bottom: -4px;
      z-index: 1;
      @media (max-width: $md4 + px) {
        max-width: 120px;
        height: auto;
        bottom: -1px;
      }

      path {
        fill: #FFCC7D;
      }
    }
  }

  &.disable {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    align-items: center;

    &.disable {
      pointer-events: none;
    }

    &.false {
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      @media (min-width: $md1 + px) {
        z-index: 3;
      }
      @media (max-width: $md3 + px) {
        padding: 0 0 60px;
      }

      & > .question {
        &:after {
          background-color: #F19405;
          transform: rotate(-2deg);
        }

        &:before {
          background-color: #FFA61C;
          transform: rotate(2deg);
        }
      }

      & > .question__answer {
        position: relative;
        z-index: 1;
        width: 100%;
        height: auto;
        opacity: 1;
        font-weight: 400;
        @media (max-width: $md3 + px) {
          z-index: 3;
        }

        span {
          pointer-events: none;
          font-weight: 400;
          max-width: 380px;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 481px;
        height: 481px;
        border-radius: 50%;
        top: -60px;
        z-index: 1;
        pointer-events: none;
        @media (max-width: $md1 + px) {
          width: 441px;
          height: 441px;
        }
        @media (max-width: $md3 + px) {
          display: none;
        }
      }
    }

    &.true {
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      z-index: 2;
      @media (max-width: $md1 + px) {
        z-index: 4;
      }

      &:after {
        display: block;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 481px;
        height: 481px;
        border-radius: 50%;
        top: -60px;
        z-index: 0;
        pointer-events: none;
        @media (max-width: $md1 + px) {
          width: 441px;
          height: 441px;
        }
        @media (max-width: $md3 + px) {
          display: none;
        }
      }

      & > .question__answer {
        width: 100%;
        height: auto;
        opacity: 1;

      }
    }

  }

  .question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    padding: 20px;
    width: 280px;
    height: 100px;
    z-index: 3;
    transition: transform 1s ease-in-out;

    & > .arrow-mob {
      position: absolute;
      z-index: 0;
      opacity: 0;
      transition: 0.5s opacity ease-in-out;
      pointer-events: none;
      @media (min-width: $md3 + px) {
        display: none;
      }
    }

    & > .arrow {
      width: 0;
      height: 0;
      position: absolute;
      opacity: 0;
      transition: opacity 0.5s ease;
      pointer-events: none;
      @media (max-width: $md3 + px) {
        display: none;
      }
    }

    &:hover {
      &:before {
        transform: rotate(2deg);
      }

      &:after {
        transform: rotate(-2deg);
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 280px;
      height: 99px;
      border-radius: 51.5px;
      transform: rotate(0deg);
      background-color: $mainBlue;
      z-index: -1;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -4px;
      left: -1px;
      right: 0;
      bottom: 0;
      width: 283px;
      height: 110px;
      border-radius: 51.5px;
      transform: rotate(-2.66deg);
      background-color: $secondaryBlue;
      z-index: -1;
    }

    &__answer {
      pointer-events: auto;
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-direction: column;
      width: 0;
      height: 0;
      opacity: 0;
      max-width: 340px;
      z-index: 2;

      @media (max-width: $md3 + px) {
        font-size: 20px;
      }

      span {
        color: $mainColor;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.4;
        z-index: 3;
        @media (max-width: $md1 + px) {
          font-size: 22px;
        }
      }

      .answer-title {
        position: relative;
        text-transform: uppercase;
        margin: 20px 0 0;
        z-index: 3;

        svg {
          display: block;
          position: absolute;
          width: 37px;
          height: 75px;
          top: calc(50% - 37.5px);
          right: -60px;

          &:first-child {
            transform: rotate(175deg);
            left: -60px;
          }
        }
      }

      .image-block {
        margin: 0 0 10px;
        z-index: 3;

        img {
          width: 47px;

          &:not(:last-child) {
            margin-right: 8px;
          }

          filter: drop-shadow(0px 5px 15px rgba(106, 104, 75, 0.31));
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.score-block {
  background-color: #FFE6A5;
  position: relative;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .challenge-title {
      bottom: 80px;
      @media (max-width: $md3 + px) {
        bottom: 80px;
      }
      @media (max-width: $md4 + px) {
        bottom: 50px;
      }
    }
  }

  &__sun {
    position: absolute;
    left: 70%;
    top: -7%;
    margin: 1px;
    width: 70%;
    max-width: 773px;
    @media (max-width: $md3 + px) {
      left: 53%;
      top: 2%;
    }
    @media (max-width: $md4 + px) {
      top: 1%;
      left: 40%;
      max-width: 400px;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2;
      transform: rotate(60deg);
      @media (max-width: $md3 + px) {
        z-index: 1;
      }
    }
  }
}

.old-score {
  width: 100%;
  position: relative;
  z-index: 3;
  max-width: 780px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0;
  @media (max-width: $md3 + px) {
    padding: 150px 0 0;
  }

  &__title {
    font-weight: 900;
    font-size: 34px;
    line-height: 140%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    padding-bottom: 30px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @media (max-width: $md3 + px) {
      flex-direction: column;
      gap: 20px;
    }

    & > div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;

      p {
        font-size: 26px;
        line-height: 150%;
        color: #000000;
        padding-bottom: 16px;
        text-transform: uppercase;
      }

      & > div {
        img {
          width: 72px;
          height: auto;
          filter: drop-shadow(0px 5px 15px rgba(106, 104, 75, 0.31));
          @media (max-width: $md3 + px) {
            width: 60px;
          }
        }
      }
    }
  }

}

.new-score {
  position: relative;
  z-index: 3;
  width: 1420px;
  height: 390px;
  background: #F3BA52;
  border-radius: 70px;
  padding: 20px;
  @media (max-width: 1423 + px) {
    width: 100%;
  }
  @media (max-width: $md2 + px) {
    height: auto;
  }
  @media (max-width: $md4 + px) {
    margin: 0 -20px;
    width: 110%;
  }

  &__title {
    font-weight: 900;
    //font-size: 72px;
    line-height: 140%;
    letter-spacing: 0.12em;
    color: #FFE06C;
    -webkit-text-stroke: 3px #333333;
    text-transform: uppercase;
    padding-bottom: 30px;
    position: relative;
    @include adaptiv-value(font-size, 72, 32, 0);
    @media (max-width: 1423 + px) {
      padding: 0 0 60px;
    }
    @media (max-width: $md3 + px) {
      -webkit-text-stroke: 2px #333333;
    }

    .title-thiny {
      path {
        //first
        &:nth-child(2) {
          animation: animate-svg-fill-5 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both;
        }

        //second
        &:nth-child(3) {
          animation: animate-svg-fill-5 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.1s both;
        }

        //third
        &:nth-child(5) {
          animation: animate-svg-fill-5 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s both;
        }

        //fourth
        &:nth-child(4) {
          animation: animate-svg-fill-5 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s both;
        }

        //fifth
        &:nth-child(1) {
          animation: animate-svg-fill-5 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.4s both;
        }

      }
    }

    svg {
      position: absolute;
      width: 66px;
      height: auto;
      top: -25px;
      @media (max-width: $md2 + px) {
        width: 55px;
        top: -10px;
      }
      @media (max-width: $md3 + px) {
        width: 35px;
      }


      &:first-child {
        transform: rotate(177deg);
        left: -80px;
        @media (max-width: $md2 + px) {
          left: -60px;
        }
        @media (max-width: $md3 + px) {
          left: -40px;
        }
      }

      .p-1 {
        fill: #FFF6E3;
      }

      .p-2 {
        fill: #FFF6E3;
      }

      .p-3 {
        fill: #FFE47D;
      }

      .p-4 {
        fill: #FFE47D;
      }

      .p-5 {
        fill: #FFF6E3;
      }

    }
  }

  & > div {
    background: #F19321;
    border-radius: 51px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1423 + px) {
      padding: 30px;
    }
    @media (max-width: $md2 + px) {
      padding: 60px 30px;
    }
    @media (max-width: $md3 + px) {
      padding: 40px 0;
    }

    .cont {
      display: flex;
      justify-content: space-between;
      max-width: 1030px;
      width: 100%;
      @media (max-width: 1423 + px) {
        justify-content: space-around;
      }
      @media (max-width: $md3 + px) {
        flex-direction: column;
        gap: 50px;
      }

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        p {
          font-weight: bold;
          font-size: 28px;
          line-height: 130%;
          color: #000000;
          text-transform: uppercase;
          padding-bottom: 18px;
        }

        & > div {

          img {
            filter: drop-shadow(0px 5px 15px rgba(106, 104, 75, 0.31));
            width: 80px;
            height: auto;
            @media (max-width: 1423 + px) {
              width: 60px;
            }

            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

}

#second-q, #third-q, #fourth-q, #final-q {
  display: none;
}

.btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  opacity: 1;

  @media (max-width: $md3 + px) {
    flex-direction: column;
  }

  & > div {
    &:first-child {
      margin-right: 50px;
      @media (max-width: $md3 + px) {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }
}

.btn {
  font-weight: 800;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  background: #3076C7;
  border: 2px solid #FFFFFF;
  border-radius: 51.5px;
  color: #FFFFFF;
  width: 271px;
  height: 103px;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 0 3px $secondaryBlue;
  transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;
  @media (max-width: $md3 + px) {
    height: 72px;
  }

  &:hover {
    transform: translateY(4px);
    box-shadow: 0 0 0 0 $secondaryBlue;
    cursor: pointer;
  }

  svg {
    margin-left: 15px;
  }
}

.share-btn {
  z-index: 99;
  &.opened {
    box-shadow: 0 0 0 0 $secondaryBlue;

    transform: translateY(4px);

    & > .popup {
      width: 370px;
      height: 160px;
      opacity: 1;
      @media (max-width: $md3 + px) {
        max-width: 300px;
      }
    }
  }
}

.popup {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  top: -220px;
  padding: 10px;
  background-color: #F3BA52;
  border-radius: 24px;
  box-shadow: 0px 10px 10px rgba(51, 50, 48, 0.3);
  z-index: 99;

  &:hover {
    cursor: auto;
  }

  &__link {
    img {
      filter: drop-shadow(0px 5px 15px rgba(106, 104, 75, 0.31));
      transition: transform 0.3s ease, filter 0.3s ease;
      @media (max-width: $md3 + px) {
        max-width: 60px;
        height: auto;
      }

      &:hover {
        filter: drop-shadow(0px 5px 15px rgba(106, 104, 75, 0.41));
        transform: translateY(-3px);
      }
    }
  }

  & > div {
    background: #FFECA5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: 3;
    @media (max-width: $md3 + px) {
      gap: 15px;
    }

    & > div {
      display: block;
      position: absolute;
      width: 96px;
      height: 96px;
      background: #FFECA5;
      border-radius: 16px;
      border: 10px solid #F3BA52;
      bottom: -20px;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}

.start-over-fixed {
  position: fixed;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #6BC2FF;
  border: 3px solid #0777BF;
  border-radius: 27px;
  filter: drop-shadow(0px 5px 14px rgba(116, 170, 207, 0.85));
  width: 168px;
  padding: 12px 0;
  bottom: 35px;
  right: 5%;
  transition: filter .3s ease-in-out;

  &:hover {
    background: #5bbdff;
    cursor: pointer;
    filter: drop-shadow(0px 5px 14px rgba(116, 170, 207, 0.48));
  }
}


.end-block {
  margin-top: -100px;
  background: url("../img/btn-bg.png") center 0/cover no-repeat;
  padding: 150px 0;
  @media (max-width: $md3 + px) {
    background: url("../img/btn-bg-m.png") center 0/cover no-repeat;
    padding: 140px 0 40px;
  }

  &__title {
    font-weight: 800;
    font-size: 63px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #F0F8FF;
    padding-bottom: 40px;
    @include adaptiv-value(font-size, 64, 28, 0)
  }

  &__subtitle {
    font-family: "Calliope-MVB", sans-serif;
    font-size: 34px;
    line-height: 134%;
    letter-spacing: 0.08em;
    color: #2C588A;
    padding-bottom: 70px;
    position: relative;
    @include adaptiv-value(font-size, 34, 18, 0);

    &:after {
      content: "";
      display: block;
      position: absolute;
      background: url("../img/end-block-lines.png") 0 0/cover no-repeat;
      left: calc(50% - 235px);
      top: calc(50% + 8px);
      max-width: 100%;
      width: 470px;
      height: 16px;
      @media (max-width: $md3 + px) {
        width: 245px;
        height: 8.4px;
        left: calc(50% - 122.5px);
        top: 65%;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 145px;
    @include adaptiv-value(font-size, 24, 18, 0);
    @media (max-width: $md3 + px) {
      padding-bottom: 80px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.title-thiny {
  path {
    //first
    &:nth-child(2) {
      animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0s both;
    }

    //second
    &:nth-child(3) {
      animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.1s both;
    }

    //third
    &:nth-child(5) {
      animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s both;
    }

    //fourth
    &:nth-child(4) {
      animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s both;
    }

    //fifth
    &:nth-child(1) {
      animation: animate-svg-fill-1 0.8s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.4s both;
    }

  }
}

.question {
  &.wiggle {
    &:after {
      animation: wigglePlus infinite 2s ease-in;

      &:hover {
        animation-play-state: paused;
      }
    }

    &:before {
      animation: wiggleMinus infinite 2s ease-in;

      &:hover {
        animation: wiggleMinus 2s ease-in;
      }
    }

    &:hover {
      animation-play-state: paused;
    }
  }

}

$orangeThiny: #F79B0D;
$beigeThiny: #FFEFB7;
$whiteThiny: #FFEFB7;
$yellowThiny: #F79B0D;

@keyframes animate-svg-fill-1 {
  0% {
    transform: scale(1);
    fill: rgb($orangeThiny, 0.8);
  }

  50% {
    transform: scale(0.9);
    fill: $orangeThiny;
  }
  100% {
    transform: scale(1);
    fill: rgb($orangeThiny, 0.8);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    transform: scale(1);
    fill: rgb($beigeThiny, 0.8);
  }

  50% {
    transform: scale(0.9);
    fill: $beigeThiny;
  }
  100% {
    transform: scale(1);
    fill: rgb($beigeThiny, 0.8);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    transform: scale(1);
    fill: rgb($whiteThiny, 0.8);
  }

  50% {
    transform: scale(0.9);
    fill: $whiteThiny;
  }
  100% {
    transform: scale(1);
    fill: rgb($whiteThiny, 0.8);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    transform: scale(1);
    fill: rgb($orangeThiny, 0.8);
  }

  50% {
    transform: scale(0.9);
    fill: $orangeThiny;
  }
  100% {
    transform: scale(1);
    fill: rgb($orangeThiny, 0.8);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-svg-fill-4-1 {
  0% {
    transform: scale(1);
    fill: rgb($orangeThiny, 0.8);
  }

  50% {
    transform: scale(0.9);
    fill: $orangeThiny;
  }
  100% {
    transform: scale(1);
    fill: rgb($orangeThiny, 0.8);
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes down {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes down1 {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes wigglePlus {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes wiggleMinus {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  z-index: 3;
}

.reveal.fade {
  transform: translateY(0);
  opacity: 1;
}